.play__author {
    margin: 16px 0 0;
    white-space: pre;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

@media (max-width: 550px){
    .play__author {
        font-size: 15px;
        line-height: 19px;
    }  
}
