.search__input {
    margin: 0;
    padding: 0 0 7px;
    min-width: 387px;
    font-size: 18px;
    line-height: 23px;
    border-width: 0 0 1px;
    border-color: #242424;
    background: inherit;
    outline: none;
}

@media (max-width: 650px){
    .search__input {
        min-width: 270px;;
    }  
}

@media (max-width: 460px){
    .search__input {
        min-width: 160px;;
    }  
}