.container {
    min-height: 1022px;
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: #ECEBE8;
}