.search__form {
    margin: 81px 0 0;
    min-height: 32px;
    padding: 0;
    display: flex;
    font-style: normal;
    font-weight: 300;
}

@media (max-width: 860px){
    .search__form {
        margin: 61px 0 0;
    }  
}


@media (max-width: 460px){
    .search__form {
        margin: 41px 0 0;
    }  
}