.search {
    margin: 0;
    padding: 189px 582px 65px 118px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px){
    .search {
        padding: 160px 382px 65px 118px;
    }  
}

@media (max-width: 1000px){
    .search {
        padding: 140px 250px 65px 118px;
    }  
}

@media (max-width: 780px){
    .search {
        padding: 140px 250px 65px 85px;
    }  
}

@media (max-width: 650px){
    .search {
        padding: 140px 200px 65px 50px;
    }  
}

@media (max-width: 550px){
    .search {
        padding: 100px 100px 65px 50px;
    }  
}

@media (max-width: 460px){
    .search {
        padding: 189px 100px 65px 20px;
    }  
}

