.authors {
    margin: 0;
    position: absolute;
    left: 69%;
}

@media (max-width: 1370px){
    .authors {
        left: 75%;
    }  
}

@media (max-width: 1270px){
    .authors {
        left: 77%;
    }  
}

@media (max-width: 1200px){
    .authors {
        left: 72%;
    }  
}

@media (max-width: 915px){
    .authors {
        left: 67%;
    }  
}

@media (max-width: 750px){
    .authors {
        left: 60%;
    }  
}

@media (max-width: 400px){
    .authors {
        padding-right: 20px;
    }  
}
